<configuration
  xmlns:role="http://www.sitecore.net/xmlconfig/role/"
  xmlns:patch="http://www.sitecore.net/xmlconfig/">

  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Uniform.Platform.Canvas" description="Uniform.Platform.Canvas items.">
          <predicate>
            <include name="Templates-Optimize" database="master" path="/sitecore/templates/Uniform Platform Canvas" />
            <include name="Modules-Canvas"     database="master" path="/sitecore/system/Uniform/Modules/Canvas" />
          </predicate>

          <targetDataStore physicalRootPath="$(uniformContentSitecoreSourceFolder)\serialization\Uniform.Platform.Canvas" useDataCache="false" singleInstance="true" />

          <!-- doesn't work with <except children="true" /> -->
          <dataProviderConfiguration enableTransparentSync="false" />

          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
